<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="https://nlog-project.org/schemas/NLog.xsd"
	  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	  autoReload="true"
      throwConfigExceptions="true"
      internalLogLevel="Info">

	<extensions>
		<add assembly="NLog.Web.AspNetCore"/>
	</extensions>

	<targets>
		<target xsi:type="AsyncWrapper" name="file_async"
				overflowAction="Discard"
				queueLimit="10000"
				batchSize="50"
				timeToSleepBetweenBatches="50"
				fullBatchSizeWriteLimit="5"
				>
			<target name="file" xsi:type="File"
					fileName="${var:BasePath}/${var:LogFilenamePrefix}-${shortdate}.log"
					layout="${longdate}|${aspnet-TraceIdentifier}|${level:uppercase=true}|${threadid}|${logger}|${message}|${exception:format=toString,StackTrace:maxInnerExceptionLevel=5}"
					keepFileOpen="true"
						openFileCacheTimeout="30"
						enableFileDelete="true"
						bufferSize="8192"
						archiveDateFormat="yyyy-MM-dd"
					    archiveNumbering="DateAndSequence"
						encoding="utf-8"
						archiveEvery="Day"
						maxArchiveDays="30"
						archiveAboveSize="104857600"/>
		</target>

		<target xsi:type="AsyncWrapper" name="console_async"
		overflowAction="Discard"
		queueLimit="20000"
		batchSize="500">
			<target name="console" xsi:type="Console"
				layout="${longdate}|${aspnet-TraceIdentifier}|${level:uppercase=true}|${logger}|${threadid}|${message}|${exception:format=toString,StackTrace}" />
		</target>
	</targets>

	<rules>
		<!--1. 明确白名单：仅保留需要的 Microsoft Info 日志-->
		<logger name="Microsoft.Hosting.Lifetime*" minlevel="Info" writeTo="file_async,console_async" final="true" />
		
		<!--底下這行設定，當有需要看到 http 連線所有資訊時，在取消註解即可-->
		<!--<logger name="Microsoft.AspNetCore.Hosting.Diagnostics*" minlevel="Info" writeTo="file_async,console_async" final="true" />-->
		
		<logger name="Microsoft.EntityFrameworkCore.*" minlevel="Warn" writeTo="file_async,console_async" final="true" />
		<logger name="Microsoft.*" minlevel="Warn" writeTo="file_async,console_async" final="true" />
		<logger name="System.*" minlevel="Warn" writeTo="file_async,console_async" final="true" />

		<!--2. 強制排除-->
		<logger name="Microsoft.*" final="true" />
		<logger name="System.*" final="true" />

		<!--3. 应用程序日志：记录 Info+-->
		<logger name="*" minlevel="Info" writeTo="file_async,console_async" />
	</rules>


</nlog>
