@page "/Auths/Login"
@layout NoFooterLayout

@inject NavigationManager NavigationManager
@attribute [ExcludeFromInteractiveRouting]

<PageTitle>身分驗證</PageTitle>

<div class="login-container">
    <div class="app-title">Blazor專案範本</div>
    <div class="login-card">
        <div class="login-header">
            使用者登入
        </div>

        <EditForm Model="@Input" method="post" OnValidSubmit="LoginUser" FormName="login">
            <div class="form-group">
                <label class="form-label">帳號</label>
                <input class="form-input" placeholder="請輸入帳號"
                       @bind="Input.Account" autocomplete="username" />
            </div>

            <div class="form-group">
                <label class="form-label">密碼</label>
                <input type="password" class="form-input" placeholder="請輸入密碼"
                       @bind="Input.Password" autocomplete="current-password" />
            </div>

            <div class="login">
                <button class="login-button" type="submit">
                    登入
                </button>

            </div>

            <div class="@errorMessage error-message">
                @message
            </div>
        </EditForm>

    </div>
</div>

